{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 20px;">



    <div >
        <div>
            {% load crispy_forms_tags%}
            <div style=" padding: 30px;">
                <form action="" method="post">
                    {% csrf_token%}
                    {{from|crispy}}
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Log in</button>
                    </div>

                </form>
                <p style="text-align: center; padding: 5px;">you have a not alredy an account
                    <a href="{% url 'singup'%}"> singup</a>
                </p>


                <div class="d-grid  col-6 mx-auto">
                    <a href="{% url 'singup'%}" class="btn btn-outline-success mx-2" type="submit">
                        Create new account
                    </a>

                </div>
            </div>





        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock content %}