
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="wrapper" id="Home">

  <div class="main">
    <div class="main-image">
      {% static 'images/h.jpg' as h %}
      <img src="{{h}}" alt="" />
    </div>

    <div class="main-text">
      <h1>Taste Our <span>Recipes</span></h1>
      <p style="color: black;">
       
"At RecipeShare, we believe food is a universal language that brings people together. Our platform is filled with a wide array of recipes, from beloved classics to modern twists on traditional dishes, each crafted with passion by our community of food lovers. Whether you’re a seasoned chef or a beginner in the kitchen, there’s something here for everyone. Explore simple, quick-fix meals for busy days, indulgent desserts for special occasions, and unique flavors from different cultures. Taste the difference as you discover and share recipes that make every meal a celebration. Join us, and let’s make every dish memorable!
      </p>
      <a href="#" class="main-btn"> Read More </a>
    </div>
  </div>
</div>



  <h1 class="text-center m-2"> your fevourite Recipe</h1>

  <div class="shop-items mb-5">
    {% for recipe in recipes %}
  <div class="menu-card">
    <div class="card-image">
        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" >
      {% endif %}
      <i class="fa-solid fa-heart"></i>
    </div>
    <div class="card-text">
      <h3>{{ recipe.title }}</h3>
      <p>
        Instructions: {{ recipe.instructions|truncatewords:20 }}
      </p>
      <p>
        Category: {{ recipe.category  }}
      </p>
      
    </div>
 
  
  </div>
  {% empty %}
  <p>No recipes found.</p>
{% endfor %}

</div>
{% include 'footer.html' %}
{% endblock content %}